@use "../../Foundation/mixin" as m;
@use "../../Foundation/variables" as v;


.c-button {          //ボタンの基本形
       border-radius: 10px;
       border:1px solid;
}

.c-button--search{   //検索ボタンのベース
    border-radius: 10px;
    border:1px solid;
    color:v.$searchform-gray; 
}

//Menuボタン（sp/pc)・×ボタン　いったんすべてのスタイル転記

.c-button--menu  { //sp/tabのMenuボタン
    color:v.$searchform-gray; 
    &:hover {
    cursor:pointer;
    }
}

  .c-button--cross.active {     //c-btn p-btn--cross//l-sidebarへ
    content: "";
    position:absolute;
    z-index:200; //ボタン最前面に
    top:20px;
    right:40px;
    width:45px;
    height:45px;
    transition:all 1.5s; //アニメーションの速度
    & span {
        display:block;
        position:absolute;
        width:45px;
        height:6px;
        background-color:v.$base-gray;
    }

    & span:first-child{
        transform:rotate(-45deg);
        }
    & span:last-child{
        transform:rotate(45deg);
    }
} //c-btn--cross