@use "../../Foundation/mixin" as m;
@use "../../Foundation/variables" as v;

.c-paging-prev .c-paging-next li {
    display:inline-block;
    list-style:none; 
}

.c-paging--tabpc{
    list-style:none; 
}