@use "../../Foundation/mixin" as m;
@use "../../Foundation/variables" as v;


.c-input-box {  //検索窓
    border-radius: 10px;
    border:1px solid;
    color:v.$searchform-gray;
    background:url(../images/search-mark.png) no-repeat center left 15px;
    background-size:24px 24px;
    background-color:v.$base-white;      
}