@use "../../Foundation/mixin" as m;
@use "../../Foundation/variables" as v;

.c-wrapper {     //Menuボタン押下時の薄グレー背景
    display:none; 
    background-color:v.$navmenu-wrapper-gray;
    position:fixed;
    top:0;
    width:100%;
    height:100vh;
    z-index:2;  //上へ持ってくる
    &.backactive {  //jsでアクティブクラスがついたら表示させる    
        display: block;
        animation:0.5s fadeIn forwards;
        @keyframes fadeIn {
            from{opacity:0}
            to  {opacity:1}
            }
     }  //&__cover.backactive  //activeが外れたときの動き方も記述する
 } //c-wrapper

.c-wrapper__main-visual {  //archiveのmain-visualの薄グレー
    background-color:v.$map-background-light;
    content:"";      
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
}