@use "../../Foundation/mixin" as m;
@use "../../Foundation/variables" as v;


.p-branch-menu {     //tab/pcはtakeoutとeatinを横並び
    @include m.mq(tab){
    display:grid;
    grid-template-columns:1fr 1fr;
    }
}

.p-branch-menu__contents{  //h2 TakeOut Eatinの白文字
   color:v.$base-white;
   font-size:v.$font-ll;
   position:absolute;
   top:20px;
   left:12px;
   &.c-title--underline{
     &::after{      //TakeOutの下の罫線
       position:absolute;
       top:60px;
       left:3px;
    }
  }
}


.p-branch-menu__contents-first,
.p-branch-menu__contents-second {
    padding-top:70%;
    margin:5%;
    position:relative;
    display:flex;
    flex-flow: column;        //spのみ
    justify-content:flex-end;
    background-size: cover;
 }

 .p-branch-menu__contents-first{      //左側のTake Outの画像
    background-image: url("../images/front-page-takeout-image.png");
    @include m.mq(tab){
        margin:50px 5% 50px 10%;
   }     
   @include m.mq(pc){
    margin:50px 5% 50px 50px;
   }    
}
 .p-branch-menu__contents-second{     //右側のEat Inの画像
    background-image: url("../images/front-page-Eatin-image.png");
    @include m.mq(tab){
        margin:50px 10% 50px 5%;
     }    
     @include m.mq(pc){
        margin:50px 50px 50px 5%;
     }    
}


 .p-branch-menu__contents__wrapper {
         margin:3%;
         width:94%;
         height:auto;
      &__detail {
           margin-top:10px;
           background-color:v.$takeout-background-gray;
           height:auto;
         .c-title{
            font-size:v.$font-s;
            padding:30px 0 30px 10px;
            color:v.$takeout-font-color;
         }
         p {
            padding:0 10px 30px 10px;
            color:v.$takeout-font-color;
         }
        }  //__detail
      }   //contents-wrapper