@use "../../Foundation/mixin" as m;
@use "../../Foundation/variables" as v;

.wp-block-code{
    background-color:v.$backquote-background-lightblue;
    color:v.$takeout-font-color;
    line-height: 1.2rem;
    padding:30px 0 30px 30px;
    margin:50px 0 30px 0;
}