@use "../../Foundation/mixin" as m;
@use "../../Foundation/variables" as v;


//single.phpのギャラリーの余白等
.wp-block-gallery {   //全体
	margin: 50px 0 20px ; 
    .wp-block-image {
        width:100%;
        flex-grow: 0;
//         @include m.mq(tab) {  
//             width:48%
//         }
//         @include m.mq(tab) {  
//             width:32%
//         }

    }
}