@use "../../Foundation/mixin" as m;
@use "../../Foundation/variables" as v;


//single.phpのギャラリーの余白等
.wp-block-gallery {   //全体
	margin: 50px 0 20px ; 
}

//sp時のwidth 1カラム
.wp-block-gallery.has-nested-images figure.wp-block-image:not(#individual-image) {
    @include m.mq(lesstab){
    width:100%;
    }
}

//tab 2カラム pc 3カラム
.wp-block-gallery.has-nested-images.columns-default figure.wp-block-image:not(#individual-image) {
    @include m.mq(tab){
         width: calc(50% - var(--gallery-block--gutter-size, 16px)/2);
    }
    @include m.mq(pc){
         width: calc(33.33% - var(--gallery-block--gutter-size, 16px)*0.66667);
    }
}

//flex-growは1のまま