@use "../../Foundation/mixin" as m;
@use "../../Foundation/variables" as v;

//グリッドの設定

.p-grid {
    @include m.mq(pc) {
        display:grid;
        grid-template-rows:217px 1fr 150px;
        grid-template-columns:1fr 367px ;
        gap:0;
    }
}