@use "../../Foundation/mixin" as m;
@use "../../Foundation/variables" as v;


//基本スタイル・レスポンシブはc-buttonに

.p-header__menu { 
    text-align: right;
    padding:15px 20px;
    .c-button--menu{      //sp/tab時のMenuボタン位置
        // border-radius: inherit;
        // border:inherit;
        font-size:v.$font-s;
        z-index:3;
        &:hover {
            cursor:pointer;
        }
        @include m.mq(tab){
            font-size:v.$font-l;
        }
        @include m.mq(pc){
            display:none;
        }
    } 
}


.p-header__title {
    text-align: center;
    font-size:v.$font-ll;
    .c-title{
    }
    @include m.mq(tab) {
      font-size:40px;
      }
    @include m.mq(pc) {
      display: flex;
      align-items:center;
      font-size:v.$font-xl;
      margin:auto auto auto 40px;
      }
  }
