@use "../../Foundation/mixin" as m;
@use "../../Foundation/variables" as v;


//singleページのリスト欄 ol,ulの2つめのインデントはグループ化しただけで自動で下がった
.wp-block-group {     //他のwp-block-groupが被る箇所は管理画面から追加クラス名付与
    margin:30px auto 20px 20px;
    ol,ul {
        padding-top:10px;
        line-height: 1.3rem;
        @include m.mq(tab) {
            padding-top:20px;
        }
    }
    ul li {
        list-style-type: none;
        text-indent:-1em;  //リストの黒丸分だけ字上げする
    }  
}