@use "../../Foundation/mixin" as m;
@use "../../Foundation/variables" as v;


.p-main-visual {  //メインの背景画像 画像自体はHTMLに
    position:relative;
    &__img {
        width:100%;
        height:285px;
        object-fit: cover;
        &__singleheight {    //singleメイン画像の高さ
            object-fit: cover;
            height:235px;     //sp時の高さ
            @include m.mq(tab) {
                height:500px;
                width:100%;
            }
        } 
    }
}   //p-main-visual

.wp-block-image img ,
.aligncenter img {   //__singleinsert  真ん中の1枚画像 wp-block-imageに管理画面からクラス名追加S
        display:block;
        margin:0 auto;
        width:100%;
        height:100%;
        padding:30px 30px 0 30px;
        object-fit: cover;
        @include m.mq(tab){
        height:358px;
        }
}
