@use "../../Foundation/mixin" as m;
@use "../../Foundation/variables" as v;


.p-main-visual {  //メインの背景画像 画像自体はHTMLに
    position:relative;
    &__img {
        width:100%;
        height:285px;
        object-fit: cover;
        &__singleheight {    //singleメイン画像の高さ
            object-fit: cover;
            height:235px;     //sp時の高さ
            @include m.mq(tab) {
                height:500px;
            }
        } 
        &__singlesubheight {    //singleサブ画像の高さ
            object-fit: cover;
            height:124px;     //sp時の高さ
            @include m.mq(tab){
                height:264px;
            }
            @include m.mq(pc){
                height:500px;
            }
        }
        &__singleinsert {
                display:block;
                margin:0 auto;
                width:100%;
                height:100%;
                padding:30px 30px 0 30px;
                object-fit: cover;
                @include m.mq(tab){
                height:358px;
                }
        }
    }
}   //p-main-visual