@use "../../Foundation/mixin" as m;
@use "../../Foundation/variables" as v;


//各ページ一番上にあるメイン画像

.p-main-visual {  //メインの背景画像 画像自体はHTMLに
    position:relative;
    &__img {
        width:100%;
        height:285px;
        object-fit: cover;
        &__singleheight {    //singleメイン画像の高さ
            object-fit: cover;
            height:235px;     //sp時の高さ
            @include m.mq(tab) {
                height:500px;
                width:100%;
            }
        } 
    }
}   //p-main-visual