@use "../../Foundation/mixin" as m;
@use "../../Foundation/variables" as v;


.p-subheading{
    padding:40px 20px 20px 20px;
}
.p-subheading__wrapper {        //小見出しとテキスト
    color:v.$takeout-font-color;
    position:relative;
  }//__wrapperの閉じタグ