@use "../../Foundation/mixin" as m;
@use "../../Foundation/variables" as v;

//sp版 phpのみで表示
.p-paging--sp {
   display: flex;
   padding:20px;
   justify-content: space-between;
   text-decoration: none;
   color:v.$base-gray;
   list-style:none; 
   @include m.mq(tab){
       display:none;
   }
   &__back,
   &__next {
    list-style:none;  
    color:v.$base-gray;
   }
}


//tab/pc版 プラグインで表示 あてがわれたクラスに書き換え
.p-paging__tabpc {   /* 全体 */
    padding:20px;
    background:v.$base-white;
    font-family: v.$Roboto;
    color:v.$base-gray;
    display:flex;
    justify-content:center;
    @include m.mq(lesstab){
        display:none;
    }

    &__list {   //ulタグ
        text-align:center; 
        color:v.$base-gray;
        list-style: none;
        margin-right:30px;
        li {
            display:inline-block;
        }
    }
}   

.page {  //ページの数字部分のスタイリング
    display:inline-block;
    text-decoration:none;
    font-size:20px;
    font-weight:bold;
    width:35px;
    height:35px;
    margin:5px;
    line-height:35px;
    text-align:center;
    border:solid 1px #707070;
    color:v.$base-gray;
    &:hover {     //ホバーしたら色変える 
        background:v.$takeout-font-color;
        color:v.$base-white;
        cursor:pointer;
    } 
}

.current {  //現在いるページ 色変える
    background:v.$takeout-font-color;
    color:v.$base-white;
    display:inline-block;
    text-decoration:none;
    font-size:20px;
    font-weight:bold;
    width:35px;
    height:35px;
    margin:5px;
    line-height:35px;
    text-align:center;
}
.previouspostslink,
.nextpostslink {
    font-size:35px;
    font-weight:lighter;
    width:35px;
    height:35px;
    margin:15px;
    line-height:35px;
    text-align:center;
    li {
        color:v.$base-gray;
    }
}