@use "../../Foundation/mixin" as m;
@use "../../Foundation/variables" as v;


.p-paging--sp {
   display: flex;
   padding:20px;
   justify-content: space-between;
   text-decoration: none;
   color:v.$base-gray;
   list-style:none; 
   @include m.mq(tab){
       display:none;
   }
}

.p-paging__tabpc {
    padding:20px;
    display:flex;
    justify-content:center;
    background:v.$base-white;
    font-family: v.$Roboto;
    text-decoration: none;
    color:v.$base-gray;
    list-style:none; 
    &:hover{
        cursor:pointer;
    }
    &__page-numbers{
        width:35px;
        height:35px;
        margin:5px;
        line-height:35px;
        text-align:center;
        font-size:14px;
        font-weight:bold;
        border:1px solid v.$base-gray;      
    }
    &__prev,
    &__next {
        width:35px;
        height:35px;
        margin:5px;
        line-height:35px;
        text-align:center;
        font-size:35px;
        font-weight:normal;
        color:v.$base-gray;    
    }
    &__page-count {
        font-size:inherit;
        font-weight:bold;
        margin:5px;
        line-height:35px;
        align-items: center;
    }
    span {
        background:v.$takeout-font-color;
        color:v.$base-white;
    }  
    @include m.mq(lesstab){
        display:none;
    }
}