@use "../../Foundation/mixin" as m;
@use "../../Foundation/variables" as v;
@charset "UTF-8";


.p-search-form {          
    margin:15px 20px;
    display: flex;
    justify-content:center;   
    @include m.mq(pc) {
     margin:auto 20px;
     position:relative;
     width:100%;
     max-width:542px;
    }
}

.p-search-form__box {   //検索窓 c-input-boxの内容は自動反映
    width:230px;
    height:46px;
    margin-right:10px;
    padding-left:50px;  //虫眼鏡マークより右から記入させるため
    @include m.mq(tab) {
        width:100%;
        min-width:230px;
        max-width:542px;
    }
    @include m.mq(pc) {
        margin-right:146px;
    }
}

.p-search-form__button {   //検索ボタンc-button-search自動反映
     height:46px;
     width:78px;
     background:linear-gradient(to bottom,#F2EDE9 0%,#DED8D3 100%);
     @include m.mq(tab) {
        width:136px;
     }
     @include m.mq(pc) {
        position:absolute;
        width:136px;
        bottom:0;
        right:0;
        margin-left:10px;
     }
}
