@use "../../Foundation/mixin" as m;
@use "../../Foundation/variables" as v;


.p-sidebar {     //pinkのサイドバーの設定
    background-color:v.$sidebar-background-gray;
    position:fixed;  //absoluteにしていたがSP版の時右外側にはみ出て表示されてしまうので変更したら直った！！
    right:-120%;//menuボタンを押すまでは非表示 メインとサイドバーの割合
    top:0; 
    width:328px;
    height:100vh;
    z-index:3;
    &.slideactive {      //サイドバーが開く
        right:0; 
        transition:all 0.5s;
    }
    @include m.mq(pc) {
        position:static;
        right:0;
        width:367px;
        height:auto;
    }
    @include m.mq(lesspc) {
        overflow-y: scroll;
    }

    &-title {   //PC用の「Menu」表示    
        .c-title {        //色はuで指定
            font-size:v.$font-l;     
        }
        @include m.mq(lesspc) {
            display:none;
        }
        @include m.mq(pc) {
            display:block;
            font-size:v.$font-l; 
            padding:70px 0 0 40px;
        }
    }

    &-list {     //nav menu
        margin-top:103px; //217-Menuのfontsize-padding×2
        margin-left:40px;
        &__contents {       
            margin-bottom:40px;
            list-style: none;
             &:hover {
                cursor:pointer;
            }
            &___list a {  //WP化したら効かない・・
                list-style:none;
                font-size: v.$font-ss;
                line-height:2.5em;
                padding-left:20px;
                color:v.$base-gray;
            }
            .c-title a {        //h3  色はu              
                margin-top:40px;
                margin-bottom:40px;
                font-size: v.$font-s;
                color:v.$base-gray;
            }
        } //contentsの閉じタグ
    } //listの閉じタグ
  .sub-menu {          //WP化で出てきたulクラス名
    list-style:none;
    font-size: v.$font-ss;
    line-height:2.5em;
    padding-left:20px;
    margin-bottom:40px;
    li a {
        color:v.$base-gray
    }
    
  }  
}  //p-sidebarの閉じタグ 