@use "../../Foundation/mixin" as m;
@use "../../Foundation/variables" as v;

.p-single-button{   //p-search-formから改変
     width:335px;
     height:81px;
     background:linear-gradient(to bottom,#F2EDE9 0%,#DED8D3 100%);
     font-weight: bold;
     border-radius: 20px;
     margin:40px 0 40px 0;
        @include m.mq(tab){
            width:429px;
            height:104px;
        }
  }