@use "../../Foundation/mixin" as m;
@use "../../Foundation/variables" as v;


//singleページの引用以下の画像レイアウト
//ギャラリー部分はgallery.scssに記述


//引用元下の1枚画像・「メディアとテキスト」の下の1枚画像（クラス名全く同一）
.wp-block-image {
 .align-center img { 
    object-fit: cover;
    width:100%;
    }
}


//「メディアとテキスト」で配置した画像とテキスト
//wp-block-groupが下のリスト群と同じクラス名なので下層のクラスでmargin調整
//※margin同士が重なっている・・


.wp-block-media-text {  //メディア＆テキストのグループ gridになっている
    margin:50px 0;
    margin-left:-20px;
    &__content {
        line-height: 1.2rem;
        padding:0;  //8%が自動付与　消せない
        p {
            padding-top:30px;
            padding-bottom:20px; //タイトルpと本文pの行間
            @include m.mq(tab){
               padding-top:0; 
            }
        }
    }
}