@use "../../Foundation/mixin" as m;
@use "../../Foundation/variables" as v;


//singleページの引用以下の画像レイアウト
//ギャラリー部分はgallery.scssに記述


//引用元下の1枚画像
.wp-block-image .size-large { 
    display:block;
    margin-bottom:50px;
    padding:0;
    width:100%; 
    text-align:center;
    object-fit: cover;
    img {
        width:100%;
        max-height:500px;
        vertical-align: bottom;
    }
    @include m.mq(tab){
    height:358px;
    }
}


//「メディアとテキスト」で配置した画像とテキスト
.alignwide { 
    margin:50px 0 0 0 ;
}
.wp-block-media-text {  //メディア＆テキストのグループ gridになっている
    display:block;
    padding:0;
    @include m.mq(tab){
        display:grid;
        gap:20px;   
    }
    @include m.mq(pc) {
        display:grid;
        gap:40px;
    }  
    &__content {
        line-height: 1.2rem;
        padding:0;  //8%が自動付与　消せない
        p {
            padding-top:20px;
            padding-bottom:20px; //タイトルpと本文pの行間
            @include m.mq(tab){
               padding-top:0; 
            }
        }
    }
    &img {
        vertical-align: bottom;
    }
}

//     // &__media img {          //wp-img-227
//     //     object-fit: cover;
//     //     width:144px;
//     //     height:89px;
//     //     margin-top:20px;
//     //     @include m.mq(tab) {
//     //         width:306px;
//     //         height:189px;
//     //     }
//     //     @include m.mq(pc) {
//     //         width:581px;
//     //         height:358px;
//     //     }
//     // }



//「メディアとテキスト」の下の1枚画像
.aligncenter {   //figure
    display:block;
    margin:0 auto;
    object-fit: cover;
    text-align:center;
    padding:50px 0 0 0 ;
    img{
        width: 60%;
        height:auto;
        text-align:center;
        vertical-align: bottom;
    }
    @include m.mq(tab){
        height:358px;
    }
}

.wp-block-spacer {  //管理画面から追加したスペーサー pcのみに適用
    @include m.mq(lesspc){
        display:none;
    }
}