@use "../../Foundation/mixin" as m;
@use "../../Foundation/variables" as v;

.p-table {
    margin-top:40px;
    width:100%;
    border-collapse: collapse;
    border:1px solid v.$base-gray;
    border-top:0;       //重なってるborderを1つ消して補足する  
        td {
        padding:20px 0 20px 20px;  
        border:0.5px solid v.$base-gray;
        border-left:0;  
        border-bottom:0;
        }
        td:nth-child(2){
        border-right:0;    
        }
}