@use "../../Foundation/mixin" as m;
@use "../../Foundation/variables" as v;

.p-table {
    margin-top:40px;
    width:100%;
    border-collapse: collapse;
    border:1px solid v.$base-gray;
        td {
        padding:20px 0 20px 20px;  
        border:0.5px solid v.$base-gray;
        }
        td:first-child {
        width:calc(33vw - 1.5px);
        }
        td:last-child {
        width:calc(66vw - 1.5px)
        }
        @include m.mq(tab) {
            td:first-child {
                width:calc(40vw - 1.5px);
            }
            td:last-child {
                width:calc(6neb6vw - 1.5px)
            }
        }
}