@use "../Foundation/mixin" as m;
@use "../Foundation/variables" as v;


.l-footer {
    background-color:v.$footer-background-brown;
    color:v.$base-white;
    font-family:v.$Roboto;
    height:150px;
    display:block;
      .p-footer {
            padding-top:25px;
            font-size:v.$font-ss;
            text-align:center;
           
            &:hover {
                cursor:pointer;
            }
            .c-footer li{
              display:inline-block;
              justify-content: center;  
                & a{
                    color:v.$base-white; 
                }     
            }
            .c-footer li:not(:first-child)::before {
                content: " ｜ ";
            }
        }   //p-footer

      .c-copyright {
          font-size:v.$font-xs;
          text-align:center;
          padding-top:30px;
      }
      
      @include m.mq(pc) {
        grid-row:3/4;
        grid-column:1/3 ;
      }

 }//l-footerの閉じタグ