@use "../Foundation/mixin" as m;
@use "../Foundation/variables" as v;

// @use "../Object/Project/p-search-form";    //検索窓
// @use "../Object/Project/p-top-title";      //タイトル(Humburger)
// @use "../Object/Project/p-header-button";  //Sp/tab時のMenuボタン


.l-header {          //header全体
    width           :100%;
    height          :217px;
    background-color:v.$base-pink;
    font-family:v.$Roboto;
    font-weight: bold;

    @include m.mq(pc) {
        grid-row:1/2;
        grid-column:1/2 ;
        display:flex;
        justify-content: space-between;
    }
}