@use "../Foundation/mixin" as m;
@use "../Foundation/variables" as v;

//Project/p-main-visual   
//Project/p-branch-menu
//Project/p-location

.l-main {     //main
    @include m.mq(pc) {
        grid-row:2/3;
        grid-column:1/2 ;
    }
}

.p-main-article {    //single・pageの見出しの下の画像～footer上までのpadding
    padding:20px;
    @include m.mq(tab) {
        padding:40px;
    }
    @include m.mq(pc) {
        padding:60px;
    }
}