//大きさの名称
$sizes:sp,tab,pc;

//breakpoint定義 
$breakpoints:(           
'sp':'screen and (min-width:320px) ',
'tab':'screen and (min-width:600px)',
'pc':'screen and (min-width:1025px)',
'lesspc':'screen and (max-width:1024px)',
'lesstab':'screen and (max-width:600px) '
)!default;

// @mixinの定義
@mixin mq($breakpoint:sp) {
    @media #{map-get($breakpoints, $breakpoint)} {
      @content;
    }
}