//color
$base-gray:#707070;
$base-pink:#FFF7EF;
$searchform-gray:#616161;
$base-white:#fff;
$takeout-background-gray:rgba(255,255,255,0.8);
$takeout-font-color:#3C2A10;
$navmenu-wrapper-gray:rgba(112, 112, 112, 0.7);
$sidebar-background-gray:#F2EDE9;
$map-background-dark:rgba(0,0,0,0.7);
$map-background-light:rgba(0,0,0,0.4);
$footer-background-brown:#9D8670;
$card-background-brown:#3C2B1C;

//font-family
$Roboto:'Roboto', sans-serif;
$M1:'M PLUS 1p',sans-serif;

//font-size デフォルトが16px
$font-xs:14px;
$font-ss:20px;
$font-s:22px;
$font-sm:28px;  //archive以降の小見出し
$font-m:30px;
$font-l:36px;
$font-ll:40px;
$font-xl:64px;

